<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <http auto-config="true" access-denied-page="/accessDenied">
        <intercept-url pattern="/auth/" access="ROLE_AUTH"/>
        <intercept-url pattern="/auth*" access="ROLE_AUTH"/>

        <logout invalidate-session="true" logout-success-url="/logoutSuccessful" logout-url="/logout"/>

    </http>

    <!--SIMPLE AUTHENTICATION MANAGER-->
    <!--authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="dinger" password="123456" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager-->

    <!--EMBEDDED LDAP AUTHENTICATION MANAGER-->
    <!--authentication-manager alias="authenticationManager">
        <ldap-authentication-provider
                user-search-filter="(uid={0})"
                group-search-filter="member={0}">

        </ldap-authentication-provider>
    </authentication-manager-->

    <ldap-server id="ldapServer" ldif="classpath:sample2.ldif" root="dc=tp,dc=com"/>

    <!--authentication-manager>
        <authentication-provider ref='ldapAndHybrisAuthenticationProvider'/>
    </authentication-manager-->


    <!--beans:bean id="ldapAndHybrisAuthenticationProvider"
                class="com.tp.ncounter.security.LdapAndHybrisAuthenticationProvider">

    </beans:bean-->

    <authentication-manager>
        <authentication-provider ref="ldapAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="ldapAuthenticationProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <beans:constructor-arg ref="ldapServer"/>
                <beans:property name="userSearch">
                    <beans:bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
                        <beans:constructor-arg index="0" value="ou=people"/>
                        <beans:constructor-arg index="1" value="(uid={0})"/>
                        <beans:constructor-arg index="2" ref="ldapServer"/>
                    </beans:bean>
                </beans:property>
            </beans:bean>
        </beans:constructor-arg>
        <beans:constructor-arg>
            <beans:bean class="com.tp.ncounter.security.HybrisAuthoritiesPopulator">
            </beans:bean>
        </beans:constructor-arg>
        <beans:property name="authoritiesMapper">
            <beans:bean class="org.springframework.security.core.authority.mapping.SimpleAuthorityMapper">
                <beans:property name="convertToUpperCase" value="true"/>
            </beans:bean>
        </beans:property>
    </beans:bean>


</beans:beans>